<div class="login-container">
  <ngb-alert [dismissible]="false" *ngIf="alertMessage">
    {{ alertMessage }}
  </ngb-alert>
  <h5>{{ login ? 'Login with registered email' : 'Register new user' }}</h5>
  <form [formGroup]="registerForm">
    <div class="form-group">
      <label>Email address</label>
      <input type="email" formControlName="email" class="form-control">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password">
      <label class="error">{{errorMessage}}</label>
    </div>
    <button type="submit" class="btn btn-primary cursor-hand" (click)="onFormSubmit(registerForm.value)">{{ login ? 'Login' : 'Register' }}</button>
    <br>
    <div *ngIf="!login">OR
      <br>
      <label for="email" class="label">Password-less Authentication</label>
      <br>
      <div class="input-group">
        <input type="email" formControlName="email" class="form-control">
        <button class="button btn-primary cursor-hand" [disabled]="emailSent" (click)="sendEmailLink(email)">Get Login Link</button>
      </div>
    </div>
    <img class="google-sign-in" *ngIf="login" src="assets/btn_google_signin_dark_normal_web.png" (click)="loginWithGoogle()">
  </form>
  <button class="btn btn-link cursor-hand" (click)="toggleLoginMode()">{{ login ? 'Don\'t have an account? Register Instantly' : 'Already have an account? Log In' }}</button>
</div>