.login-container{
  max-width: 400px;
  text-align: center;
  padding: 30px 20px;
  margin: 20px auto;
  background-color: aliceblue;
  border-radius: 5px;
  border: solid 1px lavender;
}

.success{
  color: #5cb85c;
  font-size: 12px;
}

.error{
  color: red;
  font-size: 12px;
}

.hr {
  border-bottom: 1px dotted #ccc;
  margin: 25px 0px;
  height: 10px;
  display: block;
  font-weight: 300;
  text-align: center;
}

.hr>span {
  background: #FEF7F7;
  padding: 0 15px;
}

.google-custom-btn{
  cursor: pointer;
  width: 292px;
  height: 40px;
  background-color: #4285F4;
  margin: 10px auto;
  border-radius: 2px;
}

.google-custom-btn img{
  height: 44px;
  width: 44px;
  margin-top: -2px;
  margin-left: -2px;
}

.google-custom-btn .text{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: bold;
  padding-left: 48px;
  padding-top: 8px;
  font-size: 16px;
  float:left;
}

.form-group{
  text-align: left;
}