/* You can add global styles to this file, and also import other style files */
.fl{float:left;}
.fr{float:right;}

.cursor-hand{
  cursor: pointer;
}

.success{
  color: #5cb85c;
  font-size: 12px;
}

.error{
  color: red;
  font-size: 12px;
}